.corpo{
    background-color: aquamarine;
    color: blueviolet;
    text-align: center;
    border: 30px;
    border-style: outset;
    border-color: magenta;
}

p{
    color: cyan;
    font-size: 20px;
}

#Link{
    color: blueviolet;
    text-decoration: none;
}

#Link:hover{
    color: yellow;
    text-decoration: 12px;
}
