.corpo{
    background-color: aquamarine;
    color: blueviolet;
    text-align: center;
    border: 10px;
    border-style: outset;
    border-color: magenta;
}

p{
    color: cyan;
    font-size: 20px;
}

#link{
    color: blueviolet;
    text-decoration: none;
}

#link:hover{
    color: yellow;
    font-size: 12px;
}
