.corpo{
    background-color: greenyellow;
    color: blueviolet;
    text-align: center;
    border: 10px;
    border-style: outset;
    border-color: magenta;
}

p{
    color: darkgreen;
    font-size: 20px;
}

#link{
    color: blueviolet;
    text-decoration: none;
}

#link:hover{
    color: rgb(255, 153, 0);
    font-size: 25px;
}

#imagem-estudante{
    border: dotted 10px rgb(255, 0, 64);
    width: 600px;
    height: 400px;
}